@import "styles/colors.scss";

.closeButton {
	float: right;
}

.invitation-action-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2rem;
}

.add_form {
	display: grid;
	grid-template-columns: 300px 300px 200px;
	align-items: baseline;
	justify-items: center;
	row-gap: 0.5rem;
}
